html, body, #root, .App {
    height: 100%;
    margin: auto 0;
    padding: 0;
}

.full-height {
    height: 100%;
}

.container {
    height: calc(100% - 100px);
}

nav {
    background-color: #26a69a;
}

.side-menu .btn {
    display: block;
    margin: 10px 0;
    background-color: #26a69a;
    text-transform: capitalize;
}

.btn.active {
    background-color: #0d6d64 !important;
}

.graph-edit {
    width: 100%;
    height: 100%;
    margin: 10px 10px 10px 0;
    padding: 10px 0;
}

svg text {
    pointer-events: none;
}

.modal {
    display: block;
    z-index: 1000;
    transition: all 0.5s;
    opacity: 0;
}

.breadcrumb {
    font-size: 26px;
}