html, body, #root, .App {
    height: 100%;
    margin: auto 0;
    padding: 0;
}

.full-height {
    height: 100%;
}

.breadcrumb {
    display: inline-block;
    user-select: none;
    opacity: 0;
    transform: translateX(-20%);
    transition: all 0.6s;
}

.container {
    opacity: 0;
    transition: all 0.6s;
    height: calc(100% - 100px);
}

.breadcrumb.appear {
    transform: translateX(0);
}

.appear {
    opacity: 1;
}

nav {
    background-color: #26a69a;
}

nav a.button-collapse {
    display: block;
}

.side-menu-xl {
    display: none;
}

.side-menu .btn {
    display: block;
    margin: 10px 0;
    background-color: #26a69a;
    text-transform: none;
}

.btn.active {
    background-color: #0d6d64 !important;
}

.graph-edit {
    width: 100%;
    height: 100%;
    margin: 10px 10px 10px 0;
    padding: 10px 0;
    touch-action: none;
}

svg text {
    pointer-events: none;
    touch-action: none;
    user-select: none;
}

svg circle {
    touch-action: none;
    user-select: none;
    cursor: pointer;
}

svg path line {
    touch-action: none;
    user-select: none;
    cursor: pointer;
}

.breadcrumb {
    font-size: 26px;
}

.small {
    height: 200px !important;
}

.nav-wrapper a, .card {
    cursor: pointer;
}

.thumb.active {
    box-shadow: #555 1px 1px 5px;
    z-index: 1;
}

.edgeClickHelper {
    cursor: pointer;
}

.btn, .btn-flat {
    text-transform: none !important;
}

.clear-graph {
    width: 227.5px;
    bottom: 70px;
    text-align: center;
    display: block;
    position: absolute;
}

.side-menu-xl .side-menu .clear-graph {
    width: 200.5px;
}

circle, text {
    transition: stroke 1s, color 1s;
}