html, body, #root, .App {
    height: 100%;
    margin: auto 0;
    padding: 0;
}

.full-height {
    height: 100%;
}

.breadcrumb {
    display: none;
}

.container {
    display: none;
    height: calc(100% - 100px);
}

nav {
    background-color: #26a69a;
}

.side-menu .btn {
    display: block;
    margin: 10px 0;
    background-color: #26a69a;
    text-transform: none;
}

.btn.active {
    background-color: #0d6d64 !important;
}

.graph-edit {
    width: 100%;
    height: 100%;
    margin: 10px 10px 10px 0;
    padding: 10px 0;
    touch-action: none;
}

svg text {
    pointer-events: none;
    touch-action: none;
}

svg circle {
    touch-action: none;
}

.modal {
    display: block;
    z-index: 1000;
    transition: all 0.5s;
    opacity: 0;
}

.breadcrumb {
    font-size: 26px;
}

.small {
    height: 200px !important;
}

.nav-wrapper a, .card {
    cursor: pointer;
}

.thumb.active {
    box-shadow: #555 1px 1px 5px;
    z-index: 1;
}

.edgeClickHelper {
    cursor: pointer;
}